.searchForm {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.subcategory {
  margin-left: 10px;
}

.search-form-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.buttons-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Book list*/
.list-group-item {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  background-color: inherit;
  text-decoration: none;
}

.list-group-item:first-child {
  border-radius: 0px;
  border-top: 2px solid;
}

a.list-group-item,
button.list-group-item {
  color: #3d2607;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #d9c694;
  text-decoration: none;
  background-color: #3d2607;
}

.btn-search {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border: none;
  background-color: #6e4c1d;
  color: #d9c694 !important;
  height: 50px;
}

.btn-cancel {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: #5d1a17;
  color: #d9c694 !important;
  height: 50px;
}

label {
  margin-left: 5px;
}

/*TAB CARDS*/

.tabs-cards {
  padding-left: 0px;
}

.nav-tabs > li > a {
  margin-right: 0px;
  border-radius: 0px;
}
