body {
  background-color: #d9c694;
  /*text-align: center;*/
}

.App-header {
  background-color: #3d2607;
  height: 60px;
  padding: 5px;
  color: #d9c694;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.searchForm {
  height: 60vh;
  overflow-y: auto;
}

.subcategory {
  margin-left: 30px;
}

button[type='submit'] {
  border: none;
  background-color: #6e4c1d;
  color: #d9c694;
  height: 50px;
}

.btn-cancel {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: #5d1a17;
  color: #d9c694;
  height: 50px;
}
